<div class="contributor-popup hidden" id="{{ include.file }}">
  <div class="popup-content {{ include.bg }}">

    <div class="bio">
      <!-- <h2>{{ include.name }}</h2> -->
      {% capture bio %}
      {% include {{ include.file }}.html %}
      {% endcapture %}
      <div class="bio-text">
        {{ bio }}
      </div>

      {% if include.appear %}
      <p class="appear">
        APPEAR IN &#10140;<br>{{ include.appear }}
      </p>
      {% endif %}

      <figure class="author-photo">
        <img src="{{ include.photo }}" alt="{{ include.name }}">
        <figcaption>{{ include.caption }}</figcaption>
      </figure>
    </div>

  </div>
</div>