<b>Lex Brown</b> is an artist working in visual and performed verse.
<br><br>
She has performed and exhibited work at the Kennedy Center in Washington, DC; the New Museum, the Kitchen, the High Line, the International Center of Photography, and Recess in New York; the MIT List Center, REDCAT Theater and the Hammer Museum in Los Angeles; the Baltimore Museum of Art; and at the Munch Museum in Oslo.
<br><br>
She was a 2021 recipient of the USA Fellowship and is a 2025 Rome Prize Winner. Her first short opera, <i>Tati</i> (composed by Kyle Brenn), premiered in the Washington National Opera’s 2024–25 season at the Kennedy Center.
<br><br>
Brown holds degrees from Yale University (MFA) and Princeton University (BA). She is the author of <i>My Wet Hot Drone Summer</i>, a sci-fi erotic novella that takes on surveillance and social justice.
<br><br>
<i>Consciousness</i>, a survey of Brown’s work spanning the past eight years, was published by GenderFail. Containing documentation from 46 different videos and performances, as well as 33 original song lyrics performed in artist-run spaces, museums, music venues, and galleries, it has been acquired by the collections of the Met, MoMA, Whitney, and SFMOMA, among other notable collections.
<br><br>
Brown has taught in the Visual Arts programme at Princeton University and in Art, Film, & Visual Studies and Theater, Dance, & Media at Harvard University.