<b>Mikey Kirkpatrick</b> is a musician (singer, flautist, composer, performer) and associate lecturer in music and education at
Goldsmiths. His research and practice focus on how music and deep listening can be healing for individuals and
communities. Mikey has performed on hundreds of streets and stages internationally and has composed for film and
theatre. During the pandemic he gave over 200 regular live improvised flute broadcasts as a sonic shelter for listeners.
Mikey founded Alchemy in 2017 with support from Goldsmiths Widening Participation, a weekly workshop programme that
offers professional creative music training and youth work support to young people facing barriers, delivered by a
diverse team of professional artists, mentors, and students. In 2023 he founded the Alchemy Masters programme (thanks to
the support of the Vernon Ellis Foundation), offering paid training to young artist mentors, empowering them as
facilitators and creatives with the aim to support them into employment and/or further education.

<br><br>
<a href="https://sites.gold.ac.uk/alchemy/" target="_blank" rel="noopener">sites.gold.ac.uk/alchemy</a><br>
<a href="http://mikeykirkpatrick.wordpress.com" target="_blank" rel="noopener">mikeykirkpatrick.wordpress.com</a>