@font-face {
  font-family: 'Compagnon';
  src: url('fonts/Compagnon-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Compagnon';
  src: url('fonts/Compagnon-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Compagnon';
  src: url('fonts/Compagnon-Roman.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Velvelyne';
  src: url('fonts/Velvelyne-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Velvelyne';
  src: url('fonts/Velvelyne-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Velvelyne';
  src: url('fonts/Velvelyne-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Velvelyne';
  src: url('fonts/Velvelyne-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 22px;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: var(--font-body);
  font-weight: 400;
  line-height: var(--line-height-body);
  font-size: 1rem;
  text-wrap: pretty;
}

main {
  padding: 2rem;
  max-width: 1300px;
}

a {
  color: inherit;
}

a:hover {
  filter: brightness(1.2);
}

button {
  font-family: var(--font-body);
  font-size: 1rem;
  border-radius: 0;
  padding: 0.25rem 0.5rem;
}

h1 {
  font-family: var(--font-title);
  font-weight: 500;
  line-height: var(--line-height-title);
  font-size: 2.5rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  margin: 3rem 0 0 0;
}

h3 {
  font-size: 1rem;
  margin: 3rem 0 0 10%;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 1rem 0 -1rem 10%;
}

h5 {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 2rem 0 -1rem 10%;
  padding: 0 0.5rem;
  background: var(--color-pk);
  display: inline-block;
}

h6 {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 2rem 0 -1rem 10%;
  padding: 0 0.5rem;
  background: var(--color-gr);
  display: inline-block;
}

hr {
  max-width: calc(900px + 10% + 2rem);
  border: none;
  border-top: var(--color-dg) 1px solid;
  margin: 0 0 0 -2rem;
}

.color-bl {
  color: var(--color-bl);
}

.color-pk {
  color: var(--color-pk);
}

.color-dg {
  color: var(--color-dg);
}

.bg-bl {
  background: var(--color-bl);
}

.bg-gr {
  background: var(--color-gr);
}

.bg-pk {
  background: var(--color-pk);
}

.bg-br {
  background: var(--color-br);
}

.bg-dg {
  background: var(--color-dg);
}

.border-pk {
  border: 1px solid #e133be !important;
}

.margin-btm-1rem {
  margin-bottom: -1rem !important;
}

.text-align-center {
  text-align: center;
}

.hover-underline-gr:hover {
  text-decoration: underline solid var(--color-gr) 2px;
  text-underline-position: under;
}

.hover-underline-pk:hover {
  text-decoration: underline solid var(--color-pk) 2px;
  text-underline-position: under;
}

.font-weight-500 {
  font-weight: 500;
}

.font-small {
  font-size: 0.75rem;
}

details summary {
  cursor: pointer;
  list-style: none;
  border-bottom: black 3px dotted;
}

details summary::-webkit-details-marker {
  display: none;
}

details.author {
  margin: 1rem 0 4rem 0;
  display: inline-block;
  position: relative;
}

details.author summary {
  display: inline-block;
  margin-right: 0.25rem;
}

.author-bio {
  position: absolute;
  left: 0;
  width: 100%;
  min-width: 500px;
  max-height: 60vh;
  overflow: auto;
  padding: 1.5rem;
  border: 1px solid #9cc62a;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);

  transform: rotate(-5deg) scale(0.75);
  z-index: 5;
  cursor: grab;
  transition: transform 0.2s ease;
}

.author-bio:hover {
  transform: rotate(0deg) scale(1);
    z-index: 10;
}

.author-bio:active {
  cursor: grabbing;
  transform: rotate(0deg) scale(1);
}

.author-bio::-webkit-scrollbar {
  width: 15px;
}

.author-bio::-webkit-scrollbar-thumb {
  background: var(--color-bl);
}

.author-bio::-webkit-scrollbar-thumb:hover {
  background: #65a2f8;
  cursor: grab;
}

.content p {
  max-width: 900px;
  margin: 1rem 0 1rem 10%;
}

.content a {
  color: var(--color-bl);
}

.foreword {
  position: absolute;
  top: 20%;
  right: 5%;
  width: 100%;
  max-width: 500px;
  padding: 1.5rem;
  background: #fffa5a;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
  border: 1px solid #e0d87a;
  transform: rotate(3deg) scale(0.75);
  z-index: 5;
  cursor: grab;
  transition: transform 0.2s ease;
}

.foreword:hover {
  transform: rotate(0deg) scale(1);
  z-index: 10;
}

.foreword:active {
  cursor: grabbing;
  transform: rotate(0deg) scale(1);
}


[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:after {
  visibility: hidden;
  pointer-events: none;
  display: none;
  padding: 0 0.5rem;
  content: attr(data-tooltip);
}

[data-tooltip]:hover:after {
  display: inline;
  visibility: visible;
}

.lightbox-container {
  width: calc(100% + 2rem);
  aspect-ratio: 3 / 2;
  margin: 4rem 0 0 -2rem;
  position: relative;
  overflow: hidden;
  background: #eee;
}

.lightbox-scroll {
  display: flex;
  width: max-content;
  height: 100%;
  position: absolute;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.lightbox-scroll img {
  cursor: zoom-in;
}

.lightbox-base {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 4rem -2rem;
  background: var(--color-br);
  line-height: var(--line-height-small);
}

.lightbox-info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.25rem 1rem;
}

.lightbox-controls {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.lightbox-button {
  border: none;
  font-family: var(--font-body);
  font-size: 0.8rem;
  padding: 0.25rem 1rem;
  background: var(--color-pk);
  cursor: pointer;
  color: black;
  transition: background 0.3s ease;
}

.lightbox-button:hover {
  background: var(--color-bl);
}

.popup {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  flex-direction: column;
  gap: 0.5rem;
}

.popup .credit {
  color: white;
  font-size: 0.8rem;
  line-height: var(--line-height-small);
  text-align: center;
  max-width: 90vw;
  padding: 0 2rem;
}

.popup.active {
  display: flex;
}

.popup img {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
}

.content figure {
  max-width: 900px;
  margin: 2rem 0 2rem 10%;
  display: block;
}

.content img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  cursor: zoom-in;
}

.content figcaption {
  font-size: 0.8rem;
  line-height: var(--line-height-small);
}

.content figure.narrow-img {
  width: 50%;
}

.bubble {
  margin: 4rem 0;
  color: var(--color-bl);
  transform: scale(0.5);
  opacity: 0;
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.bubble p {
  display: flex;
  align-items: stretch;
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;

}

.bubble p .bracket-left,
.bubble p .bracket-right {
  display: inline-block;
  width: 0.5rem;
  border: 2px solid var(--color-bl);
  flex-shrink: 0;

}

.bubble p .bracket-left {
  border-right: none;
  /* Remove right border */
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  margin-right: 1rem;
}

.bubble p .bracket-right {
  border-left: none;
  /* Remove left border */
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  margin-left: 1rem;
}

.bubble.visible {
  transform: scale(1);
  opacity: 1;
}

.floating {
  position: relative;
  width: 100%;
  height: 800px;
  margin: 4rem 0;
}

.floating img {
  position: absolute;
  animation: float 6s ease-in-out infinite;
  transition: transform 0.3s ease;

  /* set a CSS variable for floating */
  --float: translateY(0);
  --rotate: rotate(0deg);
  transform: var(--float) var(--rotate);
}

.floating img:hover {
  --rotate: rotate(10deg);
  z-index: 10;
}

/* Scatter using percentages */
.floating img:nth-child(1) {
  top: 5%;
  left: 40%;
}

.floating img:nth-child(2) {
  top: 20%;
  left: 8%;
  animation-duration: 5s;
}

.floating img:nth-child(3) {
  top: 40%;
  left: 65%;
  animation-duration: 6s;
}

.floating img:nth-child(4) {
  top: 45%;
  left: 5%;
  animation-duration: 7s;
}

.floating img:nth-child(5) {
  top: 35%;
  left: 50%;
  animation-duration: 4s;
}

.floating img:nth-child(6) {
  top: 55%;
  left: 20%;
  animation-duration: 5s;
}

@keyframes float {

  0%,
  100% {
    --float: translateY(0);
  }

  50% {
    --float: translateY(-15%);
  }
}

.video-container {
  aspect-ratio: 16 / 9;
  overflow: hidden;
  position: relative;
  margin: 2rem 0;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

details.tools {
  max-width: 900px;
  margin: 0 0 0 10%;
}

details.tools p {
  margin: 1rem 0;
}

details.tools h4 {
  margin: 1rem 0 -1rem 0;
}

details.tools figure {
  margin: 2rem 0;
}


details.tools summary {
  padding: 0.5rem 0 0 0;
  border-bottom: black 3px dotted;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  /* text left, icon right */
  align-items: center;
  /* background: var(--color-gr); */
}

details.tools summary::after {
  content: "+";
  margin-left: 0.5rem;
  font-weight: 400;
  font-family: system-ui;
}

details.tools[open] summary::after {
  content: "-";
}

details.tools summary:hover {
  background: var(--color-gr);
}

.content ul {
  max-width: 900px;
  margin: 1rem 0 0 10%;
  padding: 0 0 0 2rem;
  list-style: disc;
}

.content ul li::marker {
  content: "✔︎ ";
}

mark.pk-highlight {
  background: linear-gradient(100deg,
      #FF71E300 1%,
      #FF71E3 2.5%,
      #FF71E380 5.7%,
      #FF71E31a 93%,
      #FF71E3b4 95%,
      #FF71E300 98%),
    linear-gradient(182deg, #FF71E300, #FF71E34d 8%, #FF71E300 15%);
}

mark.pk-highlight-long {
  background: linear-gradient(100deg,
      #FF71E300 0.1%,
      #FF71E3 0.3%,
      #FF71E380 2.7%,
      #FF71E31a 93%,
      #FF71E3b4 99%,
      #FF71E300 99.5%),
    linear-gradient(182deg, #FF71E300, #FF71E34d 8%, #FF71E300 15%);
}

p.blink {
  animation: fadeBlink 1.5s ease-in-out infinite;
}

@keyframes fadeBlink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

table,
td {
  padding: 0.5rem;
  border: var(--color-br) 1px solid;
}

table {
  max-width: 900px;
  margin: 1rem 0 0 10%;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  background: var(--color-br);
  padding: 0 0.5rem;
}


/* --------- nav bar --------- */

ul#menu li#home-link {
  padding: 1rem 0.5rem;
  font-family: var(--font-title);
  line-height: var(--line-height-title);
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#home-link:hover {
  background: var(--color-dg);
  transition: all 0.3s ease;
}

ul#menu {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  width: 100%;
}

ul#menu li {
  padding: 0.5rem;
  border-bottom: var(--color-dg) 1px solid;
  text-align: center;
  background: transparent;
  transition: background 0.3s ease;
}

ul#menu li a {
  text-decoration: none;
}

#menu li.bg-pk:hover {
  background: var(--color-pk);
}

#menu li.bg-dg:hover {
  background: var(--color-dg);
}

#menu li.bg-bl:hover {
  background: var(--color-bl);
}

#menu li.bg-gr:hover {
  background: var(--color-gr);
}

#menu li.bg-br:hover {
  background: var(--color-br);
}

#rightPane::-webkit-scrollbar-thumb {
  background: var(--color-br);
}

#rightPane::-webkit-scrollbar-thumb:hover {
  background: #c9a87f;
  cursor: grab;
}

/* ul#menu li a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
} */

footer {
  grid-area: footer;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 2rem 0;
}

#top-btn {
  /* display: none; */
  border: none;
  outline: none;
  background: var(--color-dg);
  color: white;
  cursor: pointer;
  padding: 0.25rem 3rem;
  font-family: var(--font-body);
  font-size: 0.9rem;
}

#myBtn:hover {
  background-color: #555;
}


/* --------- mobile layout ---------- */

@media (max-width: 768px) {
  html {
    font-size: 20px;
  }

  ul#menu {
    font-size: 0.9rem;
  }

  details summary {
    border-bottom: black 2px dotted;
  }

  details.author p.author-bio {
    max-width: calc(100vw - 3rem);
    font-size: 0.9rem;
  }

  main {
    padding: 0.5rem;
  }

  .content {
    margin: 0;
  }

  .foreword {
    position: absolute;
    top: 2rem;
    left: 0.5rem;
    right: auto;
    max-width: calc(100% - 3rem);
    padding: 1rem;
    transform: rotate(3deg) scale(0.5) translateX(40%);
  }

  .foreword:hover {
    transform: rotate(0deg) scale(1) translateX(0%);
  }

  .foreword:active {
    cursor: grabbing;
    transform: rotate(0deg) scale(1);
  }

  .lightbox-container {
    width: calc(100% + 1rem);
    aspect-ratio: 3 / 2;
    margin: 2rem 0 0 -0.5rem;
    position: relative;
    overflow: hidden;
  }

  .lightbox-base {
    flex-direction: column;
    width: calc(100% + 1rem);
    margin: 0 0 2rem -0.5rem;
  }

  .lightbox-info {
    width: calc(100% - 1rem);
    ;
    padding: 0.25rem 0.5rem;
  }

  .lightbox-controls {
    display: none;
  }

  .floating {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 2rem 0;
  }

  .bubble {
    font-size: 0.9rem;
    margin: 2rem 0;
  }

  .content figure {
    width: 90%;
    transform: translateX(5%);
    margin: 1rem 0;
  }

  table,
  td {
    padding: 0.25rem;
  }

  table {
    max-width: 100vw;
    border: none;
  }

  table th {
    background: transparent;
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }

  table tr {
    display: block;
    margin-bottom: 2rem;
  }

  table td {
    display: block;
    margin-bottom: -1px;
    border: var(--color-gr) 1px solid;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    padding-right: 0.25rem;
  }

  h1 {
    font-size: 1.35rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}