---
layout: "wrapper"
---
<main>
    <h1>
        {{ page.title }}
    </h1>

    <section class="contributors-gallery">
        {% include contributor-card.html
        name="Delali Ayivor"
        file="Delali-Ayivor"
        photo="img/contributor/Delali Ayivor-photo by Helle Navratil.webp"
        %}

        {% include contributor-card.html
        name="Kristina Ketola Bore"
        file="Kristina-Ketola-Bore"
        photo="img/contributor/K K Bore Photo Helle Navratil.webp"
        %}

        {% include contributor-card.html
        name="Lex Brown"
        file="Lex-Brown"
        photo="img/contributor/Lex Brown-photo by Helle Navratil.webp"
        %}

         {% include contributor-card.html
        name="Lee Heinemann"
        file="Lee-Heinemann"
        photo="img/contributor/Lee Heinemann-photo by Helle Navratil.webp"
        %}

        {% include contributor-card.html
        name="Loni Johnson"
        file="Loni-Johnson"
        photo="img/contributor/Loni Johnson - photo by Helle Navratil.webp"
        %}

        {% include contributor-card.html
        name="Mikey Kirkpatrick"
        file="Mikey-Kirkpatrick"
        photo="img/contributor/Mikey Kirkpatrick-photo by Helle Navratil.webp"
        %}

        {% include contributor-card.html
        name="Trine Ottosen"
        file="Trine-Ottosen"
        photo="img/contributor/Trine Ottosen- photo by Helle.webp"
        %}

        {% include contributor-card.html
        name="Chire Regans"
        file="Chire-Regans"
        photo="img/contributor/Chire Regans photo by Helle Navratil.webp"
        %}

        {% include contributor-card.html
        name="Walk of Shame"
        file="Walk-of-Shame"
        photo="img/walk-of-shame/MC_avsluttning_067WEB.webp"
        %}
        
    </section>

    <div class="contributor-info">
        {% include contributor-info.html
        name="Kristina Ketola Bore"
        file="Kristina-Ketola-Bore"
        photo="img/contributor/K K Bore Photo Helle Navratil.webp"
        caption="Photo by Helle Navratil"
        bg="bg-gr"
        appear='<a href="foreword-kristina">Foreword</a><br><a href="youth-workers">How Youth Workers Create Meaningful
            Encounters</a>'
        %}

        {% include contributor-info.html
        name="Delali Ayivor"
        file="Delali-Ayivor"
        photo="img/contributor/Delali Ayivor-photo by Helle Navratil.webp"
        caption="Photo by Helle Navratil"
        bg="bg-bl"
        appear='<a href="self-as-archive">Self as Archive</a>'
        %}

        {% include contributor-info.html
        name="Chire Regans"
        file="Chire-Regans"
        photo="img/contributor/Chire Regans photo by Helle Navratil.webp"
        caption="Photo by Helle Navratil"
        bg="bg-pk"
        appear='<a href="let-me-be-for-you">Let Me Be for You</a>'
        %}

        {% include contributor-info.html
        name="Lee Heinemann"
        file="Lee-Heinemann"
        photo="img/contributor/Lee Heinemann-photo by Helle Navratil.webp"
        caption="Photo by Helle Navratil"
        bg="bg-br"
        appear='<a href="foreword-lee">Foreword</a>'
        %}

        {% include contributor-info.html
        name="Lex Brown"
        file="Lex-Brown"
        photo="img/contributor/Lex Brown-photo by Helle Navratil.webp"
        caption="Photo by Helle Navratil"
        bg="bg-br"
        appear='<a href="hey-hey-look-at-me">Hey, Hey, Look at Me!: Lex Brown on Play</a>'
        %}

        {% include contributor-info.html
        name="Loni Johnson"
        file="Loni-Johnson"
        photo="img/contributor/Loni Johnson - photo by Helle Navratil.webp"
        caption="Photo by Helle Navratil"
        bg="bg-gr"
        appear='<a href="what-we-hold-sacred">What We Hold Sacred Altar-Making Workshop</a><br><a href="let-me-be-for-you">Let Me Be for You What I Needed When I Was Your Age</a>'
        %}

        {% include contributor-info.html
        name="Mikey Kirkpatrick"
        file="Mikey-Kirkpatrick"
        photo="img/contributor/Mikey Kirkpatrick-photo by Helle Navratil.webp"
        caption="Photo by Helle Navratil"
        bg="bg-pk"
        appear='<a href="are-you-listening">Are You Listening? Deep Listening as Youth Pedagogy</a>'
        %}

        {% include contributor-info.html
        name="Trine Ottosen"
        file="Trine-Ottosen"
        photo="img/contributor/Trine Ottosen- photo by Helle.webp"
        caption="Photo by Helle Navratil"
        bg="bg-bl"
        appear='<a href="youth-workers">How Youth Workers Create Meaningful Encounters for Young People</a>'
        %}

        {% include contributor-info.html
        name="Walk of Shame"
        file="Walk-of-Shame"
        photo="img/walk-of-shame/MC_avsluttning_067WEB.webp"
        caption="Photo by Helle Navratil"
        bg="bg-lg"
        appear='<a href="a-space-for-agency">A Space for Agency: Walk of Shame on Cultivating Collective Care in Education</a>'
        %}
    </div>

    <div class="credit">
        {{ content }}
    </div>

</main>

<footer></footer>

</main>