---
layout: "wrapper"
---
<main>
    <h1>
        {{ page.title }}
    </h1>

    <div class="gallery">
        <div class="column">

            <figure>
                <img src="img/contributor/Chire Regans photo by Helle Navratil.webp" alt="Chire Regans"
                    data-credit="Chire Regans. photo by Helle Navratil">
                <figcaption>Chire Regans</figcaption>
            </figure>

            <figure>
                <img src="img/contributor/Delali Ayivor-photo by Helle Navratil.webp" alt="Delali Ayivor"
                    data-credit="Delali Ayivor. photo by Helle Navratil">
                <figcaption>Delali Ayivor</figcaption>
            </figure>

            <figure>
                <img src="img/contributor/K K Bore Photo Helle Navratil.webp" alt="K K Bore"
                    data-credit="K K Bore. photo by Helle Navratil">
                <figcaption>K K Bore</figcaption>
            </figure>

            <figure>
                <img src="img/contributor/Lee Heinemann-photo by Helle Navratil.webp" alt="Lee Heinemann"
                    data-credit="Lee Heinemann. photo by Helle Navratil">
                <figcaption>Lee Heinemann</figcaption>
            </figure>

            <figure>
                <img src="img/contributor/Lex Brown-photo by Helle Navratil.webp" alt="Lex Brown"
                    data-credit="Lex Brown. photo by Helle Navratil">
                <figcaption>Lex Brown</figcaption>
            </figure>

            <figure>
                <img src="img/contributor/Loni Johnson - photo by Helle Navratil.webp" alt="Loni Johnson"
                    data-credit="Loni Johnson. photo by Helle Navratil">
                <figcaption>Loni Johnson</figcaption>
            </figure>

            <figure>
                <img src="img/contributor/Mikey Kirkpatrick-photo by Helle Navratil.webp" alt="Mikey Kirkpatrick"
                    data-credit="Mikey Kirkpatrick. photo by Helle Navratil">
                <figcaption>Mikey Kirkpatrick</figcaption>
            </figure>

            <figure>
                <img src="img/contributor/Trine Ottosen- photo by Helle.webp" alt="Trine Ottosen"
                    data-credit="Trine Ottosen. photo by Helle Navratil">
                <figcaption>Trine Ottosen</figcaption>
            </figure>
        </div>

        <div>This publication is made possible with support from Arts and Culture Norway</div>
    </div>

</main>