---
layout: "wrapper"
---
<main>
    <h1>
        {{ page.title }}
    </h1>

    <div class="author">
        <button class="author-toggle">{{ page.author }}</button>
        <div class="author-bio bg-gr">
            <button class="author-close">×</button>
            <p>
                {{ page.author-bio }}
                {% if page.author == "Mikey Kirkpatrick" %}
                <br><br>
                <a href="https://sites.gold.ac.uk/alchemy/" target="_blank"
                    rel="noopener">sites.gold.ac.uk/alchemy</a><br>
                <a href="http://mikeykirkpatrick.wordpress.com" target="_blank"
                    rel="noopener">mikeykirkpatrick.wordpress.com</a>
                {% endif %}
            </p>

        </div>

        {% if page.author-2 %}
        <button class="author-toggle">{{ page.author-2 }}</button>
        <div class="author-bio bg-pk border-pk author-2">
            <button class="author-close">×</button>
            <p>
                {{ page.author-bio-2 }}
            </p>
        </div>
        {% endif %}
    </div>

    <div class="content">
        {{ content }}
    </div>
</main>

<footer>
    <button onclick="topFunction()" id="top-btn">Back to Top</button>
</footer>