---
layout: "wrapper"
---
    <main>
        <h1>
            {{ page.title }}
        </h1>

        <details class="author" markup="1">
            <summary class="bg-gr">
                {{ page.author }}
            </summary>
            <p class="author-bio bg-gr">
                {{ page.author-bio }}
                {% if page.author == "Mikey Kirkpatrick" %}
                <br><br>
                <a href="https://sites.gold.ac.uk/alchemy/" target="_blank" rel="noopener">sites.gold.ac.uk/alchemy</a><br>
                <a href="http://mikeykirkpatrick.wordpress.com" target="_blank"
                    rel="noopener">mikeykirkpatrick.wordpress.com</a>
                {% endif %}
            </p>
        </details>

        {% if page.author-2 %}
        <details class="author">
            <summary class="bg-pk">
                {{ page.author-2 }}
            </summary>
            <p class="author-bio bg-pk border-pk">
                {{ page.author-bio-2 }}
            </p>
        </details>
        {% endif %}

        <div class="content">
            {{ content }}
        </div>
    </main>

    <footer>
        <!-- <button onclick="topFunction()" id="top-btn">Back to Top</button>  -->
    </footer>

    




            <!-- <nav>
                <div id="home-link">
                    <a href="index.html">MC Toolkit</a>
                </div>
                <div class="drawer">
                    <ul id="menu">
                        <li id="r-content">↓ ↓ ↓ Related Content ↓ ↓ ↓</li>
                        <li class="bg-pk"><a href="{{ site.baseurl }}/">Are You Listening? Deep Listening as Youth
                                Pedagogy</a>
                        </li>
                        <li class="bg-dg"><a href="{{ site.baseurl }}/">How Youth Workers Create Meaningful Encounters
                                for Young
                                People</a>
                        </li>
                        <li class="bg-bl"><a href="{{ site.baseurl }}/">Self as Archive Erasure + World-Building</a>
                        </li>
                    </ul>
                    <div id="handler" aria-label="Menu toggle">
                        <svg width="24" height="8" viewBox="0 0 24 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 2L12 6L22 2" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                        </svg>
                    </div>
                </div>
            </nav> -->